.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.complete-true {
  text-decoration: line-through;
}

.todo-item {
  display: flex;
  align-items: center;

}

.todo-item button {
  height: 50%;
  margin-left: 10px;
}